<!-- <div class="container">
  <div class="row">
    <div class="tree">
      <ul>
        <li> <a href="#"><img src="/src/assets/images/1.jpg"><span>Child</span></a>
        <ul>
          <li><a href="#"><img src="./images/2.jpg"><span>Grand Child</span></a>
          <ul>
            <li> <a href="#"><img src="./images/3.jpg"><span>Great Grand Child</span></a> </li>
            <li> <a href="#"><img src="./images/4.jpg"><span>Great Grand Child</span></a> </li>
          </ul>
        </li>
        <li> <a href="#"><img src="./images/5.jpg"><span>Grand Child</span></a>
        <ul>
          <li> <a href="#"><img src="./images/6.jpg"><span>Great Grand Child</span></a>
            <ul>
              <li> <a href="#"><img src="./images/6.jpg"><span>Teste Great Grand Child</span></a> </li>
              <li> <a href="#"><img src="./images/7.jpg"><span> teste Great Grand Child</span></a> </li>
              <li> <a href="#"><img src="./images/8.jpg"><span> teste Great Grand Child</span></a> </li>
            </ul>
          </li>
          <li> <a href="#"><img src="./images/7.jpg"><span>Great Grand Child</span></a> </li>
          <li> <a href="#"><img src="./images/8.jpg"><span>Great Grand Child</span></a> </li>
        </ul>
      </li>
      <li><a href="#"><img src="./images/9.jpg"><span>Grand Child</span></a></li>
    </ul>
  </li>
</ul>
</div> -->


<div class="row">
  <div class="tree">
    <ul>
      <!-- Renderiza o nó raiz -->
      <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: funcionarios }"></ng-container>
    </ul>
  </div>
</div>


<!-- Template Recursivo para Renderizar Cada Nó -->
<ng-template #renderNode let-node>
  <li>
    <a href="#">
      <!-- Renderiza a imagem baseada no id do nó -->
      <img [src]="'/assets/images/' + node.id + '.jpg'">
      <!-- Exibe o rótulo (label) -->
      <span>{{ node.label }}</span>
    </a>
    <!-- Se o nó tiver filhos, renderiza-os recursivamente -->
    <ul *ngIf="node.node && node.node.length > 0">
      <ng-container *ngFor="let childNode of node.node">
        <ng-container *ngTemplateOutlet="renderNode; context: { $implicit: childNode }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
